.HomePage {
    display: flex; /* Use a flexbox container to arrange images horizontally */
}

.image-container {
    margin: 10px; /* Add some spacing between images */
}

img {
    width: 250px;
    height: 200px;
    object-fit: cover; /* Maintain image aspect ratio and cover the container */
    border: 2px solid #333; /* Add a border around the images */
}
