.Hero{
    display: flex;
    width: 1478px;
    padding: 40px 77px 80px 135px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    /* border: 5px solid rgb(173, 61, 61); */
}
.product-image{
    width: 770px;
    height: 568px;
}

.content{
    display: flex;
    align-items: flex-start;
    gap: 60px;
    /* border: 1px solid rgb(173, 61, 61); */
}


.content-information{
    display: flex;
    height: 568px;
    flex-direction: column;
    align-items: flex-start;
    gap: 54px;
    /* border: 1px solid rgb(173, 61, 61); */
}

.all-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.model-overview{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 70px;
}


.model-inner1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.product-details-title{
    width: 200px;
    color: var(--primary-colors-black, #02021D);
    /* Body Text/Regular */
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
}
.product-price{
    width: 100px;
    color: var(--primary-colors-black, #02021D);
    /* text-align: right; */
    font-family: Archivo Black;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 116.667% */
    }

.model-inner2{
    display: flex;
    align-items: center;
    gap: 8px;
}

.model-inner2-review{
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.model-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.cart-description{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
}


.cart-button{
    display: flex;
    width: 370px;
    padding: 17px 24px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: 32px;
    background: var(--primary-colors-black, #02021D);
    color: #FFF;
}


.description{
    width: 370px;
    color: var(--primary-colors-black, #02021D);

    /* Body Text/Regular */
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */ 
}

